# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
android/app/release
android/app/src/main/assets/index.android.bundle

# BUCK & apk signature
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
fastlane

# iOS
build/
**/Pods/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
ios/assets
ios/appe/main.jsbundle

# Lockfiles
package-lock.json
jetificableGroups.json
ios/Podfile.lock
Gemfile.lock
yarn.lock

# Metals (scala)
.metals

# node.js / npm / yarn
node_modules/
npm-debug.log
yarn-error.log

# Overrides
__overrides__
__stashSpec__

# OSX
.DS_Store
**/.DS_Store

# Ruby
vendor

# Testing
/coverage

# VS Code
.vscode/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
